div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 150px;          
    /*height: 28px;         */
    padding: 2px;       
    font: 14px helvetica;
    /*text-transform: uppercase;   */
    background: white; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;
  }

h3, .node {
    font: 11px helvetica;
    text-transform: uppercase;
    /*opacity*/: 0.60;
}

/*h4 {
    font-family: Lucida;
}*/

body {

    padding: 50px;
}

.navbar-inverse {

    color: white;
    background: black;
}

#searchbar {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.nav-button {

    color: white;
    /*border-color: white;*/
    background-color: black;
}
.nav-button:hover {

    background-color: white;
    color: black;
    border-color: black;
}

.norm-button {

    height: 20px;
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    /*border-color: white;*/
    background-color: black;
}

.normlinks {

    color: white;
}

.normlinks:hover {

    color: white;
    text-transform: bold;
}

.links:hover {

    background-color: white;
    color: black;
}

#searchbar:focus {
    width: 40%;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}


.landingpage {

    color: white;
}

.url {
    cursor: pointer;
}

.lib  {

    height: 20px;
    width: 25px;
    background-color: #3385ff;

}

.libcent {

    height: 20px;
    width: 25px;
    background-color: #b3d1ff;
}

.cent  {

    height: 20px;
    width: 25px;
    background-color: #ffe6cc;
    
}

.rightcent  {

    height: 20px;
    width: 25px;
    background-color: #ff9999;
    
}

.right  {

    height: 20px;
    width: 25px;
    background-color: #ff6666;
    
}


.null  {

    height: 20px;
    width: 25px;
    background-color: #d9d9d9;
    
}

.key {

    height: 220px;
    width: 200px;
    border: 1px solid #cccccc;

}

.scale {

    height: 220px;
    width: 400px;
    border: 1px solid #cccccc;
}

.dot1 {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 75px;
  width: 75px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.fontfont {

    font: 18px;
}