{% extends 'base.html' %}

{% block content %}

<!-- 
Logo or other content
About Newsflash description // Maybe information about me?
Information about News.API
Information about D3 visualization used
List techstack and logos of each tech used
Information about Popularity and Bias ratings
 -->
 <h1> About Newsflash </h1> <br>
 <p>Lucas ipsum dolor sit amet fett dantooine lando kenobi yoda antilles wedge mustafar solo mothma. Fett sidious antilles skywalker darth gonk obi-wan. Watto hutt utapau dagobah luke. R2-d2 antilles mon calamari tatooine gamorrean endor tusken raider. Aayla mandalorians skywalker c-3po. Watto kit c-3p0 darth binks. Fett greedo palpatine kessel wedge calrissian skywalker. Darth biggs anakin han. Darth wedge boba maul. Ewok luke jabba fett darth. Baba c-3po gonk sebulba. Lobot padmé ahsoka padmé mace wedge.

Solo darth skywalker mandalore dooku. Jango skywalker jawa darth. Dantooine skywalker moff aayla antilles. Tusken raider endor darth c-3p0 organa mara yavin gonk anakin. Binks obi-wan kamino fisto darth solo calrissian mandalore jango. Dantooine calrissian vader c-3po amidala kenobi owen. Grievous yoda maul leia amidala calamari fett coruscant dooku. Antilles watto qui-gon skywalker yoda cade leia solo. Jabba mara r2-d2 ponda mon gamorrean. Sidious thrawn ewok dooku organa darth. Mandalorians moff naboo solo thrawn jango jinn luke.

Cade boba mothma boba wookiee fett. Padmé grievous ventress mandalore vader padmé. Aayla jade mandalore moff organa mon watto. Padmé mon palpatine solo. Owen anakin padmé moff ahsoka moff. Droid moff skywalker greedo hutt. Twi'lek darth skywalker mara kessel solo kit antilles ackbar. Maul r2-d2 calrissian grievous maul darth coruscant. Binks grievous vader moff mandalore. Secura mara skywalker gamorrean lando dagobah. Moff ben moff bothan. Boba coruscant grievous mothma jade secura mothma. Mara darth ben mace dagobah.</p>

<h2> Techstack </h2> <br>
<p>
    NEED LOGOS OF TECH USED
Solo darth skywalker mandalore dooku. Jango skywalker jawa darth. Dantooine skywalker moff aayla antilles. Tusken raider endor darth c-3p0 organa mara yavin gonk anakin. Binks obi-wan kamino fisto darth solo calrissian mandalore jango. Dantooine calrissian vader c-3po amidala kenobi owen. Grievous yoda maul leia amidala calamari fett coruscant dooku. Antilles watto qui-gon skywalker yoda cade leia solo. Jabba mara r2-d2 ponda mon gamorrean. Sidious thrawn ewok dooku organa darth. Mandalorians moff naboo solo thrawn jango jinn luke.
</p><br>

<h2> Bias and Popularity Metrics </h2> <br>
<p>  HOW I GENERATED BIAS AND POPULARITY METRICS 
Solo darth skywalker mandalore dooku. Jango skywalker jawa darth. Dantooine skywalker moff aayla antilles. Tusken raider endor darth c-3p0 organa mara yavin gonk anakin. Binks obi-wan kamino fisto darth solo calrissian mandalore jango. Dantooine calrissian vader c-3po amidala kenobi owen. Grievous yoda maul leia amidala calamari fett coruscant dooku. Antilles watto qui-gon skywalker yoda cade leia solo. Jabba mara r2-d2 ponda mon gamorrean. Sidious thrawn ewok dooku organa darth. Mandalorians moff naboo solo thrawn jango jinn luke.
</p>
{% endblock %}