{% extends 'base.html' %}

{% block content %}

<center>
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="cols-lg-offset-4 cols-lg-6">
                <br>
                <img src="/static/css/pnglogo.png" id="slide"><br><br><br>
                <br>
                <br>
                <br>
                <hr width="50%">
                <p id="about"> Newsflash displays the most popular news breaking right now in a D3.js visual. <br>It organizes trending stories by the popularity and bias of the respective media outlet. <br>

                 Newsflash was created by <a href="https://www.linkedin.com/in/cierra-m-higgins/">Cierra Higgins</a> for her <a href="https://hackbrightacademy.com/">HackBright Academy</a> final project.<br> </p>

                <!-- <h2 id="about"> How Newsflash Works </h2>   -->
                <h4 id="about"><b>Trending Coverage - NewsAPI</b></h4>
                <p id="about">All news coverage comes from <a href="https://newsapi.org/docs/get-started">NewsAPI</a>.<br> NewsAPI decides internally which articles are Trending using their 'Top Trending' endpoint. <br>Please visit the NewsAPI site for a <a href="https://newsapi.org/sources">complete list of outlets</a> NewsAPI uses for Top Trending coverage.</p>

                <h4 id="about"><b>Bias and Popularity Metrics</b></h4>
                <p id="about">All Bias ratings come from <a href="https://www.allsides.com/media-bias/media-bias-ratings">AllSides.</a><br> All popularity metrics are based off of Amazon Alexa's<a href="https://www.alexa.com/topsites"> Top 500 Websites</a>, filtered by news and media. <br> If you disagree with the rating of an outlet's popularity or bias, please provide feedback<a href="https://mail.google.com/mail/?view=cm&fs=1&to=cierramhiggins@gmail.com&su=Please Update Outlet Metrics" target="_blank"> here.</a>

                </p>
            </div> 
        </div>
    </div>

    <hr width=50%>
    <div class="container-fluid" id="content">
        <div class="row">
            <div class="cols-lg-6">
                         <h4 id="about"><b>Techstack</b></h4>
                    <a href="https://d3js.org/" target="_blank"><img src="/static/css/d3.jpg" id="imgsize"></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"><img src="/static/css/js6.png" id="imgsize"></a>
                    <a href="https://www.python.org/" target="_blank"><img src="/static/css/python-logo.png" id="imgsize"></a>
                    <a href="http://flask.pocoo.org/" target="_blank"><img src="/static/css/Flask-logo.png" id="imgsize"></a>
                    <a href="http://jquery.com/" target="_blank"><img src="/static/css/Jquery.png" id="imgsize"></a><br>
                    <a href="http://www.postgres.org/" target="_blank"><img src="/static/css/postgresql-logo.png" id="imgsize"></a>
                    <a href="http://flask-sqlalchemy.pocoo.org/2.3/" target="_blank"><img src="/static/css/flsksqlalchemy.png" id="imgsize"></a>
                    <a href="https://getbootstrap.com/docs/3.3/" target="_blank"><img src="/static/css/bootstrap.png" id="imgsize"></a>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank"><img src="/static/css/csshtml.png" id="imgsize"></a>
                    <a href="http://jinja.pocoo.org/docs/2.10/" target="_blank"><img src="/static/css/jinja2.png" id="imgsize"></a>
                    </center>
            </div> 
        </div>
    </div>

{% endblock %}