<!DOCTYPE HTML>
<html>
<!-- Needs link to CSS page
Needs link to Boostrap
Navigation Bar  -->
    <head>
        <title>NewsFlash</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    </head>
    <body>
    <header>
        <nav>
            <h1>Newsflash</h1>

            <a href='/'>Home</a>
            <a href='/aboutnewsflash'>About</a>
            <a href="/searchbykeyword">Search for news by Keyword</a> 

            <!-- User login / logout -->
            {% if 'user_id' in session %}
                <a href='/logout'>Logout</a>
            {% else %}
                <a href='/login'>Login</a>
            {% endif %}
        </nav>
    </header>

    <hr>
    
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
      
    {% block content %}{% endblock %}

    </body>
</html>