{% extends 'base.html' %}

{% block content %}

<!-- <div class="container-fluid" id="content">
  <div class="row"> -->
    <div class="col-xs-4">
      <h1>Top Trending News</h1>
      <p>Displaying the most popular news articles from the most popular media outlets, at {{dtime}} <br>
       Nodes are scaled by the popularity of each outlet - Please Hover over node for more information, and click on title for the full article.</p>
    </div>
<!--   </div>
</div> -->

      <div class="col-lg-offset-8">
        <br>
        <img src="/static/css/newbiaskey.JPG">
      </div>


    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="static/js/final_script.js"></script>

{% endblock %}