{% extends 'base.html' %}

{% block content %}


<center>
    <h1> Top Trending News Coverage </h1>
     {{ dtime }}
</center>

<div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <h4>Bias Color Key: Right Bias(Conservative) Right-Center(Leaning Conservative) Center(No Bias) Left-Center(Leaning Liberal) Left(Liberal)</h4>
                <h4>Hover over Article for Description</h4>
                <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=cierramhiggins@gmail.com&body=check-out-newsflash-at-localhost:5000/searchbykeyword-i-searched"><img src="/static/css/gmail.png"></a>
                 <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

                  </div>
            </div>
        </div>
</div>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="static/js/final_script.js"></script>


{% endblock %}