{% extends 'base.html' %}

{% block content %}

<style>
body {

    background-image: url('https://media.giphy.com/media/FZzbTJyRTwPuw/giphy.gif');
    background-size: cover;
}

h1 {

  color: white;
}

.land-button {

    font-size: 16px;
    text-transform: uppercase;
    font-family: helvetica;
    color: black;
    background-color: white;
}

</style>

<center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<a href="/"><button type="button" class="btn land-button" href="/">News Breaks In A Flash. Don't Miss It</button></a>
</center>
{% endblock %}