{% extends 'base.html' %}

{% block content %}

<!-- <h1> Display metrics on coverage about any brand or term!</h1> </br>
 -->

<!-- <center> -->
<div class="container-fluid">
        <!-- <div class="row"> -->
            <div class="col-lg-6">
              <br>
                <h1><b>Search for News by Keyword</b></h1>
                <h4><i>Don't know what to search for? Check out top trending news first!</i></h4>

                <form class="form-inline my-2 my-lg-0" action="/topsearch.json" id="search-form" method="post">
                    <input class="form-control mr-sm-2" id="searchbar" type="text" name="keyword">
                     <input class="btn submit-button" type="submit" value="Search"><br>
                    {% if user in session %}
                        <input type="checkbox" id="favorite-button" name="arterm" value="favorite"><b id="smol">Add Search Term to Favorites<b><br>
                    {% endif %}
                </form><br>
 
                  {% if user in session %}

                      {% if user_terms %}

                        <form action="/topsearch.json" id="search-dropdown" class-"btn btn-default dropdown-toggle" method="post">
                        <select id='reload-favorite' class="btn btn-default dropdown-toggle" data-toggle="dropdown" name='favorite-search' value='favorites'>
                                <option value="Favorite">Search from Favorite Terms:</option>
                              {% for term in user_terms %}
                                <option value="{{ term.search_term }}">{{ term.search_term }}</option>
                              {% endfor %}
                           &nbsp;<div class="divider"/> <input class="btn submit-button" type="submit"><br>
                           <input type="checkbox" name="arterm" value="delete"><b id="smol">Delete from Favorite Terms<b><br>
                        </select>
                        </form> 

                      {% elif user_terms == None %}

                         <h3> You do not have any favorite terms to display</h3>

                      {% endif %}

                  {% endif %}

                <h3>Displaying coverage for {{ddtime}}</h3>
            </div>
    <br> 
    <br>
    <br>
    <div class="col-lg-2">
          <div class="panel panel-default key">
            <div class="panel-body">
               <h5 class="upper">Media Outlet Bias Key</h5><hr><br>
                <div class="lib" id="smol">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Left&nbsp;</div> 
                <div class="libcent" id="smol"></div>
                <div class="cent" id="smol">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;None</div>
                <div class="rightcent" id="smol"></div>
                <div class="right" id="smol">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Right</div>
                <div class="null" id="smol">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Unknown</div> <br>
            </div>
          </div>
      </div>

      <div class="col-lg-4">
          <div class="panel panel-default scale">
              <div class="panel-body"><h5 class="upper">Media Outlet Popularity Scale</h5><hr><br>
                &nbsp;&nbsp;&nbsp;
                <span class="dot1"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="dot2"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="dot3"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h3>less popular&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;popular&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;most popular</h3>

              </div>
            <div>
        </div>
      </div>


    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/js/final_search.js"></script>

{% endblock %}