{% extends 'base.html' %}

{% block content %}

<h1> Display metrics on coverage about any brand or term!</h1> </br>
<form action="/topsearch.json" id="search-form" method="post">
    Search for coverage by Keyword:<input type="text" name="keyword">
    <input type="radio" name="arterm" value="favorite">Add Search Term to Favorites
    <input type="radio" name="arterm" value="delete">Delete Term from Favorites
    <input type="submit" value="Search"> 
</form>

<!-- <form action="/topsearch.json" id="search-dropdown" method="post"> -->
<select name='favorite-search' value='favorites'>
{% if user_terms %}
    <option value="Favorite">Search from Favorite Terms:</option>
  {% for term in user_terms %}
    <option value="{{ term.search_term }}">{{ term.search_term }}</option>
  {% endfor %}
{% endif %}
<input type="submit" value="Search"> 
</select>
<!-- </form> -->

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="static/js/final_search.js"></script>

{% endblock %}