<?php
if(isset($_POST["message"])) {
    mail("cierramhiggins@gmail.com", "Form to email message", $_POST["message"], "From: Newsflash@email.address");
}
?>

{% extends 'base.html' %}

{% block content %}


<!-- Logo 
Login form  -->
<div class="container-fluid">
    <h1>Submit reccomendation for Outlet Popularity and Bias</h1><br>
    <div class="row">
        <div class="col-lg-3">
            <p>Is there an outlet that you do not agree with or find to be rated incorrectly? Submit sugestions below and we will take them into consideration. Thank you!</p>
            <form class="form-inline my-2 my-lg-0" action="/contact.php" method="post">
                    <textarea class="form-control mr-sm-2" name="message" rows='4' cols='50'>Please add suggestion here!</textarea> <br/></br>
                    <input class="btn btn-outline-success my-2 my-sm-0" type="submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}