{% extends 'base.html' %}

{% block content %}

<div id="login" class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
              <h1>Update Account Information</h1><br>
              <form action="/updateinfo" method="post">
                      <label>Email: </label><input class="form-control mr-sm-2" type="text" name="email" required><br>
                      <label>New Password: </label><input class="form-control mr-sm-2" type="password" name="password" required><br>
                      <input class="btn btn-outline-success my-2 my-sm-0" value="Update Information" type="submit"></br></br>
              </form>
            </div>
        </div>
</div>

{% endblock %}